# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# IDE
# ----------------------------
.vscode/
.idea/

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Logs
# ----------------------------
logs/
*.log

# ----------------------------
# Generated Data
# ----------------------------
data/raw_data/*
!data/raw_data/.gitkeep

vector_store/*
!vector_store/.gitkeep

# ----------------------------
# Streamlit Cache
# ----------------------------
.streamlit/

# ----------------------------
# Pytest
# ----------------------------
.pytest_cache/

# ----------------------------
# Jupyter
# ----------------------------
.ipynb_checkpoints/